# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/

# Env
.env
.env.*.local
.env.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Prisma
packages/database/generated/

# Local storage / uploads
storage/
uploads/
docker/volumes/

# Misc
*.pem
.eslintcache
